{% extends 'base.html.twig' %}

{% block title %}Lise des catégories
{% endblock %}

{% block body %}
	<h1>Retrouvez tous nos univers</h1>
	<div class="row">
		{% for category in categories %}
			<div class="col-4">
				<h2>{{ category.title }}</h2>
				<p>{{ category.description }}</p>
				<a href="{{path('app_category', { id: category.id}) }}">Voir</a>
            
			{% endfor %}
		
	</div>
{% endblock %}
