{% if vich_uploader_asset(entity.instance, field.property, entity.fqcn) %}
    <a href="{{ vich_uploader_asset(entity.instance, field.property, entity.fqcn) }}" download>
        Download
    </a>
{% else %}
    <span class="badge badge-secondary">
        Empty
    </span>
{% endif %}
