{% extends 'base.html.twig' %}

{% block title %}Lise des produits{% endblock %}

{% block body %}
    <h1>Retrouvez tous nos produits</h1>
    
    <ul>
        {% for product in products %}
            <li><a href="{{path('app_product', { id: product.id}) }}">{{ product.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
