// Own variables and BS overwrite
@import "variables.scss";
// BS Libs
@import "~bootstrap/scss/bootstrap";

// My Libs

@import "components/grid.scss";

a:hover {
    background-color: rgba(216, 4, 184, 0.68);
}
a:hover.sample {
    background-color: rgb(133, 120, 198);
}