$primary: darken(orange, 20%);
$dark: ( #003f62);
$primary: (#eda415);
$secondary: #E2F4FF;
$body-text-align: 'justify';
$body-bg:rgb(240, 235, 240);
$light:#F4F4F4;

$card-spacer-y: 0;
$card-spacer-x: 0;